USE [master]
GO
/****** Object:  Database [artis]    Script Date: 11/07/2024 11:42:55 CH ******/
CREATE DATABASE [artis]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'artis', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\artis.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'artis_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\artis_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [artis].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [artis]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 11/07/2024 11:42:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](255) NULL,
	[password] [nvarchar](255) NULL,
	[fullName] [nvarchar](max) NULL,
	[role] [int] NULL,
 CONSTRAINT [PK__Account__3213E83FF800CD33] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 11/07/2024 11:42:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[accountId] [int] NULL,
	[productId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 11/07/2024 11:42:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NULL,
	[image] [text] NULL,
 CONSTRAINT [PK__Category__3213E83F6EC6133E] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Favourite]    Script Date: 11/07/2024 11:42:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favourite](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[accountId] [int] NULL,
	[productId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 11/07/2024 11:42:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[orderId] [int] NULL,
	[productId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 11/07/2024 11:42:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[accountId] [int] NULL,
	[address] [nvarchar](max) NULL,
	[phone] [nvarchar](max) NULL,
	[note] [nvarchar](max) NULL,
	[receiveName] [nvarchar](max) NULL,
	[status] [int] NULL,
 CONSTRAINT [PK__Orders__3213E83F41FE0221] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 11/07/2024 11:42:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NULL,
	[image] [text] NULL,
	[price] [bigint] NULL,
	[shortDescription] [nvarchar](max) NULL,
	[description] [nvarchar](max) NULL,
	[numberView] [int] NULL,
	[categoryId] [int] NULL,
	[sellerId] [int] NULL,
 CONSTRAINT [PK__Product__3213E83F72DA055B] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Review]    Script Date: 11/07/2024 11:42:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Review](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[accountId] [int] NULL,
	[productId] [int] NULL,
	[postDate] [date] NULL,
	[comment] [nvarchar](max) NULL,
 CONSTRAINT [PK__Review__3213E83F0632B58A] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([id], [email], [password], [fullName], [role]) VALUES (1, N'doanhaiphong64@gmail.com', N'123456', N'Ðoàn Hải Phong', 0)
INSERT [dbo].[Account] ([id], [email], [password], [fullName], [role]) VALUES (2, N'hothithaonguyen832002@gmail.com', N'123456', N'Hồ Thị Thảo Nguyên', 1)
INSERT [dbo].[Account] ([id], [email], [password], [fullName], [role]) VALUES (3, N'nguyenthaonhi0803@gmail.com', N'123456', N'Hồ Ngọc Nhi', 1)
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[Cart] ON 

INSERT [dbo].[Cart] ([id], [accountId], [productId]) VALUES (1, 1, 2)
INSERT [dbo].[Cart] ([id], [accountId], [productId]) VALUES (2, 1, 3)
INSERT [dbo].[Cart] ([id], [accountId], [productId]) VALUES (3, 1, 13)
SET IDENTITY_INSERT [dbo].[Cart] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([id], [name], [image]) VALUES (1, N'Logo', N'https://img.freepik.com/free-vector/telescope-astronomy-viewing-cute-planet-cute-star-cartoon-icon-illustration_138676-2889.jpg?size=338&ext=jpg&ga=GA1.1.2116175301.1719187200&semt=ais_user')
INSERT [dbo].[Category] ([id], [name], [image]) VALUES (2, N'Thương hiệu', N'https://mir-s3-cdn-cf.behance.net/projects/404/034127154061487.Y3JvcCwyMzg0LDE4NjUsMjA2LDA.png')
INSERT [dbo].[Category] ([id], [name], [image]) VALUES (3, N'Sản phẩm', N'https://i.etsystatic.com/14470883/r/il/9623ca/1330628078/il_570xN.1330628078_8eo4.jpg')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Favourite] ON 

INSERT [dbo].[Favourite] ([id], [accountId], [productId]) VALUES (1, 1, 1)
INSERT [dbo].[Favourite] ([id], [accountId], [productId]) VALUES (2, 1, 4)
SET IDENTITY_INSERT [dbo].[Favourite] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetail] ON 

INSERT [dbo].[OrderDetail] ([id], [orderId], [productId]) VALUES (1, 1, 1)
INSERT [dbo].[OrderDetail] ([id], [orderId], [productId]) VALUES (2, 1, 2)
INSERT [dbo].[OrderDetail] ([id], [orderId], [productId]) VALUES (3, 2, 3)
SET IDENTITY_INSERT [dbo].[OrderDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([id], [accountId], [address], [phone], [note], [receiveName], [status]) VALUES (1, 1, N'123 Đường Sư Vạn Hạnh, Quận 1, TP.HCM', N'0123456789', N'Giao hàng giờ hành chính', N'Nguyễn Văn A', 0)
INSERT [dbo].[Orders] ([id], [accountId], [address], [phone], [note], [receiveName], [status]) VALUES (2, 2, N'456 Đường Trần Hưng Đạo, Quận 2, TP.HCM', N'0987654321', N'Giao hàng vào buổi tối', N'Trần Thị B', 1)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([id], [name], [image], [price], [shortDescription], [description], [numberView], [categoryId], [sellerId]) VALUES (1, N'Thiết Kế Logo Ẩm Thực', N'https://i.pinimg.com/474x/05/64/db/0564db618b8e778534e882cfda48dd2f.jpg', 500000, N'Thiết kế logo đơn giản', N'Thiết kế logo chuyên nghiệp cho doanh nghiệp', 100, 1, 3)
INSERT [dbo].[Product] ([id], [name], [image], [price], [shortDescription], [description], [numberView], [categoryId], [sellerId]) VALUES (2, N'Thiết Kế Logo Cốc', N'https://t3.ftcdn.net/jpg/05/08/82/52/360_F_508825242_rQErDh6s821F0jzPGENglE2qpIcxpEt7.jpg', 550000, N'Thiết kế logo sáng tạo', N'Thiết kế logo sáng tạo cho công ty', 120, 1, 3)
INSERT [dbo].[Product] ([id], [name], [image], [price], [shortDescription], [description], [numberView], [categoryId], [sellerId]) VALUES (3, N'Thiết Kế Logo In Quần Áo', N'https://fashinza.com/textile/wp-content/uploads/2022/03/shutterstock_507663301-1.jpg', 600000, N'Thiết kế logo hiện đại', N'Thiết kế logo hiện đại và thu hút', 130, 1, 3)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[Review] ON 

INSERT [dbo].[Review] ([id], [accountId], [productId], [postDate], [comment]) VALUES (1, 1, 1, CAST(N'2024-01-01' AS Date), N'Rất hài lòng với sản phẩm này')
INSERT [dbo].[Review] ([id], [accountId], [productId], [postDate], [comment]) VALUES (2, 1, 3, CAST(N'2024-03-10' AS Date), N'Giá cả hợp lý và dịch vụ tốt')
SET IDENTITY_INSERT [dbo].[Review] OFF
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK__Cart__accountId__36B12243] FOREIGN KEY([accountId])
REFERENCES [dbo].[Account] ([id])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK__Cart__accountId__36B12243]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK__Cart__productId__37A5467C] FOREIGN KEY([productId])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK__Cart__productId__37A5467C]
GO
ALTER TABLE [dbo].[Favourite]  WITH CHECK ADD  CONSTRAINT [FK__Favourite__accou__2F10007B] FOREIGN KEY([accountId])
REFERENCES [dbo].[Account] ([id])
GO
ALTER TABLE [dbo].[Favourite] CHECK CONSTRAINT [FK__Favourite__accou__2F10007B]
GO
ALTER TABLE [dbo].[Favourite]  WITH CHECK ADD  CONSTRAINT [FK__Favourite__produ__300424B4] FOREIGN KEY([productId])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[Favourite] CHECK CONSTRAINT [FK__Favourite__produ__300424B4]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK__OrderDeta__produ__3C69FB99] FOREIGN KEY([productId])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK__OrderDeta__produ__3C69FB99]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail] FOREIGN KEY([orderId])
REFERENCES [dbo].[Orders] ([id])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK__Product__categor__2B3F6F97] FOREIGN KEY([categoryId])
REFERENCES [dbo].[Category] ([id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK__Product__categor__2B3F6F97]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK__Product__sellerI__2C3393D0] FOREIGN KEY([sellerId])
REFERENCES [dbo].[Account] ([id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK__Product__sellerI__2C3393D0]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK__Review__accountI__32E0915F] FOREIGN KEY([accountId])
REFERENCES [dbo].[Account] ([id])
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK__Review__accountI__32E0915F]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK__Review__productI__33D4B598] FOREIGN KEY([productId])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK__Review__productI__33D4B598]
GO
USE [master]
GO
